body {
  background-color: #eeeeee;
}

html {
  font-size: 1rem;
}

.hidden_form {
	display: none;
}

.my-content {
  background: #ffffff;
  padding: 2rem;
}

img.resize {
	padding: 0.5rem;
}

.subject_table {
	 width: 100%;
	 table-layout: fixed;
	 padding: 0;
	 margin: 0;
}

.subject_width1 {
	width: 20%;
}

.subject_width2 {
	width: 15%;
}

.subject_width3 {
	width: 10%;
}

table th, td {
	overflow-wrap: break-word;
}



@media only screen and (min-width: 128px) {
img.resize {
	    width: 50%;
	    height: auto;
	}
	html
	{
        font-size: 0.5rem;
    }
}

@media only screen and (min-width: 320px) {
	img.resize {
	    width: 45%;
	    height: auto;
	}
	html
	{
        font-size: 0.5rem;
    }
}


@media only screen and (min-width: 480px) { 
	img.resize {
	    width: 35%;
	    height: auto;
	}
	html
	{
        font-size: 0.7rem;
    }
 }

@media only screen and (min-width: 768px) { 

	img.resize {
	    width: 90%;
	    height: auto;
	}
	html
	{
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 992px) { 

		img.resize {
		    width: 90%;
		    height: auto;
		}
html
	{
        font-size: 1rem;
    }

}

@media only screen and (min-width: 1200px) { 

img.resize {
    width: 90%;
    height: auto;
}
html
	{
        font-size: 1.2rem;
    }
}